@tailwind base;
@tailwind components;
@tailwind utilities;

// Connection utils
@import "base/utils.scss";
// Connection mixins
@import "base/mixins.scss";

// Connection Google fonts
// &display=swap

// ============================================================================

// Primary colors

$mainColor: #000000;
$mainBg: #fcf7e6;
$scrollColor: #a3a3a3;
$scrollBg: #f1f1f1;

// ============================================================================

// Adaptive grid settings

// The minimum page width
$minWidth: 320;
// The width of the canvas
$maxWidth: 1512;
// The width of the limiting container
$maxWidthContainer: 1272;
// General indenter
$containerPadding: 48;

// The width of the first breakpoint
$containerWidth: $maxWidthContainer + $containerPadding;

// Breakpoints

// PCs, laptops, some tablets in a horizontal position
$pc: rem($containerWidth);
// Tablets, some phones in the horizontal position
$tablet: rem(991.98);
// Large phones
$mobile: rem(767.98);
// Small phones
$mobileSmall: rem(479.98);

// Adaptive type:
// 1 = responsiveness
// !1 = according to breakpoints
$adaptiveType: 1;

// Scrollbar styles
::-webkit-scrollbar {
  @apply w-3;
  background-color: $scrollBg;

  &-thumb {
    @apply rounded-md;
    background-color: $scrollColor;
  }
}

// ============================================================================

// Body tag styles
body {
  @apply text-sm;
  color: $mainColor;
  background-color: $mainBg;

  // Lock scroll
  &.lock {
    @apply overflow-hidden touch-none overscroll-none;
  }
}

// Shell wrapper
.wrapper {
  @apply min-h-screen flex flex-col overflow-hidden;

  main {
    flex: 1 1 auto;
  }
}

// Limiting container
@if $adaptiveType == 1 {
  // Responsive
  [class*="__container"] {
    @if $maxWidthContainer > 0 {
      @apply m-auto;
      max-width: rem($containerWidth);
    }

    @if $containerPadding > 0 {
      @if $maxWidthContainer > 0 {
        padding: 0 rem(calc($containerPadding / 2));
      } @else {
        @include responsiveValue(padding-left, calc($containerPadding / 2), 15);
        @include responsiveValue(
          padding-right,
          calc($containerPadding / 2),
          15
        );
      }
    }
  }
} @else {
  // According to breakpoints
  [class*="__container"] {
    @apply m-auto;

    @if $maxWidthContainer > 0 {
      max-width: rem($containerWidth);
    } @else {
      @if $containerPadding > 0 {
        padding: 0 rem(calc($containerPadding / 2));
      }
    }

    @media (max-width: $pc) {
      max-width: rem(970);
    }

    @media (max-width: $tablet) {
      max-width: rem(750);
    }

    @media (max-width: $mobile) {
      max-width: none;
    }

    @if $containerPadding > 0 and $maxWidthContainer > 0 {
      padding: 0 rem(calc($containerPadding / 2));
    }
  }
}

// Connecting basic component styles
@import "base.scss";

// Connecting shared component styles
@import "shared.scss";

// Connecting layout styles
@import "@/components/layout/Layout.scss";

// Connecting page styles
@import "@/components/screens/Home/Home.scss";
