.button {
  @apply font-semibold text-white rounded bg-black;
  @include responsiveValue("font-size", 20, 14);
  padding: 0 rem(12.5);
  transition: opacity 0.3s ease 0s;
  @include responsiveValue("padding-top", 9.5, 7);
  @include responsiveValue("padding-bottom", 9.5, 7);

  &:hover {
    @apply opacity-50;
  }

  &_transparent {
    @apply text-black bg-transparent;
  }

  &_uppercase {
    @apply uppercase;
  }

  &_small {
    @apply text-xs font-normal;
    padding: em(4, 12) em(8.5, 12);
  }

  &_big {
    @apply w-full text-base;
  }

  &_full-opacity {
    &:hover {
      @apply opacity-100;
    }
  }
}
