.form {
  @apply flex justify-center gap-3 font-semibold text-base;

  // .form__input

  &__input {
    @apply min-w-0 rounded;
    flex: 0 1 rem(518);

    &::placeholder {
      color: $mainColor;
    }
  }

  // .form__submit

  &__submit {
    @apply rounded;
    flex: 0 0 rem(94);
    background-color: #ed5e21;
    transition: opacity 0.3s ease 0s;

    &:hover {
      @apply opacity-50;
    }
  }

  > * {
    padding: rem(9.5) rem(16);
  }
}
