.form {
  @apply flex justify-center font-semibold text-base;
  gap: em(12, 14);

  // .form__input

  &__input {
    @apply min-w-0 rounded;
    flex: 0 1 em(518, 14);

    &::placeholder {
      color: $mainColor;
    }
  }

  // .form__submit

  &__submit {
    @apply rounded;
    flex: 0 0 em(94, 14);
    background-color: #ed5e21;
    transition: opacity 0.3s ease 0s;

    &:hover {
      @apply opacity-50;
    }
  }

  > * {
    padding: em(9.5, 14) em(16, 14);
  }
}
