.alpha {
  // .alpha__container

  &__container {
    @include responsiveValue("padding-top", 48, 0);
    @include responsiveValue("padding-bottom", 48, 50);
  }

  // .alpha__body

  &__body {
    @apply rounded;
    color: $mainBg;
    background-color: $mainColor;

    > * {
      padding: rem(25) rem(29) rem(25) rem(25);
    }

    // .alpha__body_active

    &_active {
      .alpha__img_arrow {
        @apply rotate-180;
      }
    }
  }

  // .alpha__button

  &__button {
    @apply flex justify-between items-center w-full;
    gap: rem(5);
    height: rem(72);
    transition: opacity 0.3s ease 0s;

    &:hover {
      @apply opacity-50;
    }
  }

  // .alpha__main

  &__main {
    @apply flex items-center;
    @include responsiveValue("gap", 48, 24);
  }

  // .alpha__title

  &__title {
    @apply flex items-center text-base font-bold uppercase;
    width: em(80);
    gap: em(8);
  }

  // .alpha__img

  &__img {
    flex: 0 0 em(22);
    padding-bottom: em(22);

    // .alpha__img_arrow

    &_arrow {
      @apply pb-2;
      flex: 0 0 rem(14);
    }
  }

  // .alpha__text

  &__text {
    @apply font-medium;

    @media (max-width: $mobile) {
      span {
        @apply hidden;
      }
    }
  }

  // .alpha__content

  &__content {
    border-top: rem(1) solid $mainBg;

    p {
      &:not(:last-child) {
        margin-bottom: em(20, 14);
      }
    }
  }
}
