@import "LinkList/LinkList.scss";

.footer {
  @apply bg-white;
  border-top: rem(1) solid $mainColor;

  // .footer__container

  &__container {
    @apply flex items-start;
    gap: rem(24);
    min-height: rem(268);
    padding-top: rem(84);
    padding-bottom: rem(84);

    @media (max-width: $tablet) {
      @apply flex-col gap-12 p-12;
    }

    > * {
      &:not(:first-child) {
        @media (min-width: $tablet) {
          flex: 0 1 rem(300);
        }
      }
    }
  }

  // .footer__logo

  &__logo {
    padding: rem(8) rem(110) rem(8) rem(57);

    @media (max-width: $tablet) {
      @apply order-last self-center;
    }

    a {
      transition: opacity 0.3s ease 0s;

      &:hover {
        @apply opacity-50;
      }
    }
  }

  // .footer__img

  &__img {
    // @apply m-auto;
    @include responsiveValue("width", 82, 80);
    @include responsiveValue("height", 82, 80);
  }

  // .footer__link-list

  &__link-list {
  }
}
